.header-area{
    background-color: #292323;;
    padding: 15px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}