

.product{
    padding: 15px;
    border: 1px solid gainsboro;
    border-radius: 15px;
}

.product img{
    width: 100%;
    border-radius: 5px;
}

.name-price{
    display: flex;
    justify-content: space-between;
    margin: 8px 0;
}